.map {
		height: 600px;
 	
}
.main-block{
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #EFECE4;


}


label {
	font-size: 200%;
}

h1 {
	text-align: center;
	letter-spacing: 3px;
	color: #023B51 !important;
}

button {
	margin-top: 4%;
	background: #001F2E !important;
	color: #EFECE4 !important;
	text-transform: uppercase;
	
}

