{% load static %}
{% block content %}
<div class="container-fluid info-block">
	<div class="container ">
		<div class="row">
			<div class="col-sm-4">
				<div class="card-deсk">
					<div class="card">
						
						<div class="card-body ">
							<img class="shadow rounded-circle card-img-top" src="{% static '/webexample/images/Rick-Sanchez.jpeg' %}" >
							<h4 class="card-title">Трофимова Кристина</h4>
							<p class="card-text">Мы хохотали и хохотали</p>
						</div>
					</div>
				</div>
			</div>	
			<div class="col-sm-4">
				<div class="card">
					
					<div class="card-body">
						<img class="shadow rounded-circle card-img-top" src="{% static '/webexample/images/mister.png' %}" >
						<h4 class="card-title">Теплоухов Андрей</h4>
						<p class="card-text">Мы хохотали и хохотали</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">	
					
					<div class="card-body">
						<img class="shadow rounded-circle card-img-top" src="{% static '/webexample/images/morti.png' %}" >
						<h4 class="card-title">Бобов Юрий</h4>
						<p class="card-text">Мы хохотали и хохотали</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}