{% extends "webexample/homePage.html" %}
<!--Информация о кабелях, которая будет вставлятся при нажатии кнопки "Вывести"-->
{% block content %}
<!--Если по заданным параметрам были найдены соответсвтия-->
{% if bd %}
<!--Выводятся данные о таблице, которая была занесена в переменную bd в методе kabels файла views.py-->
{% for kab in bd %}
<div>
    <!--Цикл идёт по отдельной записи в таблице bd
    С помощью логики Django происходит обращение к необходимому атрибуту каждой записи в цикле-->
    <h1><a href="{{ kab.link }}" >{{ kab.name }}</a></h1>
    <p> {{ kab.volokno }} </p>
    <p> {{ kab.price }} </p>
</div>
{%  endfor %}
<!--Если соответсвий найдено не было-->
{% else %}
<div>
    <h1>К сожалению, по вашим параметрам не обнаружено необходимых данных</h1>
</div>
{% endif %}
{% endblock %}